@import 'pkg:@fluentui/react/dist/sass/References.scss';

.mefrienddynamics {
  box-sizing: border-box;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  min-width: 0;
  overflow: hidden;

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
